<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-subtitle>Mis solicitudes de financiamiento</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <table mat-table [dataSource]="myRequests" class="mat-elevation-z1 full-width-table">

        <!-- D.A. -->
      <ng-container matColumnDef="da">
        <th mat-header-cell *matHeaderCellDef>D.A.</th>
        <td mat-cell *matCellDef="let req"> {{ req.da }} </td>
      </ng-container>

      <!-- Número de solicitud -->
      <ng-container matColumnDef="requestNumber">
        <th mat-header-cell *matHeaderCellDef>N° Solicitud</th>
        <td mat-cell *matCellDef="let req"> {{ req.requestNumber }} </td>
      </ng-container>

      <!-- Año fiscal -->
      <ng-container matColumnDef="fiscalYear">
        <th mat-header-cell *matHeaderCellDef>Ejercicio</th>
        <td mat-cell *matCellDef="let req"> {{ req.fiscalYear }} </td>
      </ng-container>

      <!-- Orden de pago -->
      <ng-container matColumnDef="paymentOrderNumber">
        <th mat-header-cell *matHeaderCellDef>N° de Orden de Pago</th>
        <td mat-cell *matCellDef="let req"> {{ req.paymentOrderNumber }} </td>
      </ng-container>

      <!-- Concepto -->
      <ng-container matColumnDef="concept">
        <th mat-header-cell *matHeaderCellDef>Concepto, Proveedor o Contratista</th>
        <td mat-cell *matCellDef="let req"> {{ req.concept }} </td>
      </ng-container>

      <!-- Vencimiento -->
      <ng-container matColumnDef="dueDate">
        <th mat-header-cell *matHeaderCellDef>Vencimiento y/o Periodo</th>
        <td mat-cell *matCellDef="let req"> {{ req.dueDate }} </td>
      </ng-container>

      <!-- Importe -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Importe Solicitado</th>
        <td mat-cell *matCellDef="let req"> {{ req.amount | currency:'ARS':'symbol':'1.2-2':'es-AR' }} </td>
      </ng-container>

      <!-- Fuente -->
      <ng-container matColumnDef="fundingSource">
        <th mat-header-cell *matHeaderCellDef>Fuente de Financiamiento</th>
        <td mat-cell *matCellDef="let req"> {{ req.fundingSource }} </td>
      </ng-container>

      <!-- Cuenta -->
      <ng-container matColumnDef="checkingAccount">
        <th mat-header-cell *matHeaderCellDef>Cuenta Corriente a la cual acreditar</th>
        <td mat-cell *matCellDef="let req"> {{ req.checkingAccount }} </td>
      </ng-container>

      <!-- Comentarios -->
      <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef>Notas / Comentarios</th>
        <td mat-cell *matCellDef="let req"> {{ req.comments }} </td>
      </ng-container>

      <!-- Estado -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let req">
          <button mat-icon-button color="accent" aria-label="Aprobar">
            <mat-icon>check_circle</mat-icon>
          </button>
          <button mat-icon-button color="warn" aria-label="Rechazar">
            <mat-icon>cancel</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
