::ng-deep app-user-requests-table.active-table mat-card {
  background-color: #d0f9ff;
}

::ng-deep app-user-requests-table.parcial-table mat-card {
  background-color: #fff3cd
}

::ng-deep app-user-requests-table.finished-table mat-card {
  background-color: #d6d6d6;
}