<div class="full-background">
  <div class="welcome-container">
    <div class="welcome-card" *hasRole="'user'">
      <h2 class="welcome-title">¡Bienvenido!</h2>
      <p class="welcome-subtitle">Has ingresado como <strong>Usuario</strong>.</p>
      <div class="info-box">
        <h3>17/10/2025 - Notas de Actualizacion 0.2:</h3>
        <ul>
          <li><strong>Confirmación en el envío de formularios</strong> Cuando intente enviar una solicitud, recibirá un mensaje de alerta para que verifique los datos antes de enviarlos.</li>
          <li><strong>Comentarios en solicitudes:</strong> Ahora tambien puede agregar o modificar comentarios en sus solicitudes si tienen pagos parciales.</li>
        </ul>
      </div>
    </div>

    <div class="welcome-card" *hasRole="'admin'">
      <h2 class="welcome-title">¡Bienvenido!</h2>
      <p class="welcome-subtitle">Has ingresado como <strong>Administrador</strong>.</p>
      <div class="info-box">
        <h3>Información útil</h3>
        <ul>
          <li>Usted es parte de la version 0.2 TEST ¡Gracias por su colaboracion!</li>
          <li>Estamos abiertos a sugerencias para seguir mejorando la plataforma.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
