<div class="buttons-container">

  <button mat-button class="action-button" (click)="generateExcel()">
    <mat-icon class="icon">content_copy</mat-icon>
    Copiar al portapapeles
  </button>

  <button mat-button class="action-button" (click)="changeIsActiveState()">
    <mat-icon class="icon">done_outline</mat-icon>
    Cambiar estado a aprobado / finalizado
  </button>
  
</div>

<div *ngFor="let group of groupedRequests">
  <app-da-card [daTitle]="'D.A. ' + group.da" [requests]="group.requests"
    (selectedRequestsChanged)="onSelectedRequestsChanged('D.A. ' + group.da, $event)"></app-da-card>
</div>