<mat-tab-group>
  <mat-tab label="Solicitudes en curso">
    <app-user-requests-list
      [requests]="activeAndPartialRequests"
      [showCompleted]="false"
      [highlightedRequestId]="highlightedRequestId">
    </app-user-requests-list>
  </mat-tab>

  <mat-tab label="Historial de Solicitudes">
    <app-user-requests-list
      [requests]="inactiveRequests"
      [showCompleted]="true"
      [highlightedRequestId]="highlightedRequestId">
    </app-user-requests-list>
  </mat-tab>
</mat-tab-group>
