<nav>
    <h2>Logo</h2>
    <ul>
        <li>
            <button mat-button routerLinkActive="active" routerLink="/news">Novedades</button>
        </li>
        <li>
            <button mat-button routerLinkActive="active" routerLink="/requested-table">Solicitudes enviadas</button>
        </li>
        <li>
            <button mat-button routerLinkActive="active" routerLink="/form-table">Nueva solicitud</button>
        </li>
        <li>
              <button mat-button (click)="logout()">Cerrar sesión</button>
        </li>
    </ul>
</nav>