<mat-card>
    <mat-card-header>
        <h2>Login</h2>
    </mat-card-header>
    <mat-card-content>
        <form #loginForm="ngForm" (submit)="login()">

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input autocomplete="off" [(ngModel)]="email" name="email" matInput placeholder="Ingrese su email">
                <mat-icon matPrefix>email</mat-icon>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <input autocomplete="off" [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="password" name="password" matInput placeholder="Ingrese su contraseña" >
                <mat-icon matPrefix>lock</mat-icon>
                <mat-icon matSuffix (click)="hidePassword = !hidePassword" class="password-toggle">
                    {{hidePassword ? 'visibility_off' : 'visibility'}}
                </mat-icon>
            </mat-form-field>

            <div class="error-space">
                <mat-error *ngIf="!loginValid">Usuario o contraseña incorrecto</mat-error>
            </div>

            <button mat-raised-button>
                <span>Entrar</span> 
                <mat-icon>login</mat-icon>
            </button>
        </form>

         <div class="footer-text">
            <p>&copy; {{ currentYear }} Tesoreria General de Entre Ríos.</p>
            <p>Todos los derechos reservados.</p>
            <p>Made by BPS.</p>
        </div>

    </mat-card-content>
</mat-card>