<mat-accordion>
  <mat-expansion-panel *ngFor="let monthGroup of groupedRequests">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ monthGroup.month | titlecase }}</mat-panel-title>

    </mat-expansion-panel-header>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let daGroup of monthGroup.groupedByDA">
        <mat-expansion-panel-header>
          <mat-panel-title>D.A. {{ daGroup.da }}</mat-panel-title>
          
        </mat-expansion-panel-header>

        <app-da-card
          [daTitle]="'D.A. ' + daGroup.da"
          [requests]="daGroup.requests"
        ></app-da-card>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
</mat-accordion>
