<div class="table-limit">
  <table mat-table aria-label="Elements">
    
    <!-- D.A. Column -->
    <ng-container matColumnDef="D.A.">
      <th mat-header-cell *matHeaderCellDef class="col-da">D.A.</th>
      <td mat-cell *matCellDef="let row">
        <app-number-field></app-number-field>
      </td>
    </ng-container>

    <!-- N° de Solicitud Column -->
    <ng-container matColumnDef="N° de Solicitud">
      <th mat-header-cell *matHeaderCellDef class="col-ns">N° de Solicitud</th>
      <td mat-cell *matCellDef="let row">
        <app-number-field></app-number-field>
      </td>
    </ng-container>

    <!-- Ejercicio Column -->
    <ng-container matColumnDef="Ejercicio">
      <th mat-header-cell *matHeaderCellDef class="col-ej">Ejercicio</th>
      <td mat-cell *matCellDef="let row">
        <app-number-field></app-number-field>
      </td>
    </ng-container>

    <!-- N° de Orden de Pago Column -->
    <ng-container matColumnDef="N° de Orden de Pago">
      <th mat-header-cell *matHeaderCellDef class="col-op">N° de Orden de Pago</th>
      <td mat-cell *matCellDef="let row">
        <app-number-field></app-number-field>
      </td>
    </ng-container>

    <!-- Concepto, Proveedor o Contratista Column -->
    <ng-container matColumnDef="Concepto, Proveedor o Contratista">
      <th mat-header-cell *matHeaderCellDef class="col-cpc">Concepto, Proveedor o Contratista</th>
      <td mat-cell *matCellDef="let row">
        <app-text-field></app-text-field>
      </td>
    </ng-container>

    <!-- Vencimiento y/o Periodo Column -->
    <ng-container matColumnDef="Vencimiento y/o Periodo">
      <th mat-header-cell *matHeaderCellDef class="col-venc">Vencimiento y/o Periodo</th>
      <td mat-cell *matCellDef="let row">
        <app-text-field></app-text-field>
      </td>
    </ng-container>

    <!-- Importe Solicitado Column -->
    <ng-container matColumnDef="Importe Solicitado">
      <th mat-header-cell *matHeaderCellDef class="col-imp">Importe Solicitado</th>
      <td mat-cell *matCellDef="let row">
        <app-money-field></app-money-field>
      </td>
    </ng-container>

    <!-- Fuente de Financiamiento Column -->
    <ng-container matColumnDef="Fuente de Financiamiento">
      <th mat-header-cell *matHeaderCellDef class="col-fuen">Fuente de Financiamiento</th>
      <td mat-cell *matCellDef="let row">
        <app-text-field></app-text-field>
      </td>
    </ng-container>

    <!-- Cuenta Corriente a la cual acreditar Column -->
    <ng-container matColumnDef="Cuenta Corriente a la cual acreditar">
      <th mat-header-cell *matHeaderCellDef class="col-cc">Cuenta Corriente a la cual acreditar</th>
      <td mat-cell *matCellDef="let row">
        <app-text-field></app-text-field>
      </td>
    </ng-container>

    <!-- Notas / Comentarios Column -->
    <ng-container matColumnDef="Notas / Comentarios">
      <th mat-header-cell *matHeaderCellDef class="col-notas">Notas / Comentarios</th>
      <td mat-cell *matCellDef="let row">
        <app-text-field></app-text-field>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>