html, body { height: 100%; }
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0; /* Oculta el scrollbar */
  height: 0; /* Oculta el scrollbar */
}

* {
  scrollbar-width: none; /* Para Firefox */
}