@use '@angular/material' as mat;

html, body { height: 100%; }
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0; /* Oculta el scrollbar */
  height: 0; /* Oculta el scrollbar */
}

* {
  scrollbar-width: none; /* Para Firefox */
}


@include mat.tabs-overrides((
  active-indicator-color: #26a69a ,
  active-focus-indicator-color:#26a69a,
  active-hover-indicator-color: #26a69a
));
