@use '@angular/material' as mat;

html, body { height: 100%; }
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

@include mat.tabs-overrides((
  active-indicator-color: #007b8a ,
  active-focus-indicator-color:#007b8a,
  active-hover-indicator-color: #007b8a
));

@include mat.datepicker-overrides((
  calendar-date-focus-state-background-color: #c0ebe3,
  calendar-date-outline-color: #c0ebe3,
  calendar-date-hover-state-background-color: #c0ebe3,
  calendar-date-selected-state-background-color: #26a69a,
  calendar-date-today-selected-state-outline-color: #26a69a,
  calendar-date-today-outline-color: #26a69a
));


@include mat.checkbox-overrides((
    selected-checkmark-color: #ffffff,
    selected-icon-color: #008b78,
    selected-hover-icon-color: #009d86,
    selected-focus-icon-color: #007a6b,
    selected-pressed-icon-color: #005f51
  ));