@use '@angular/material' as mat;

.mdc-text-field--outlined {
    height: 56px;
    padding-right: 5px !important;
    padding-left: 5px !important;
    box-sizing: border-box;
}


:host mat-form-field {
  display: block;
  width: 100%;
  margin-bottom: -1rem;
  @include mat.form-field-overrides((
      outlined-focus-outline-color: #26a69a,
      outlined-caret-color: #26a69a
    ));
}