<h2 mat-dialog-title>
  <mat-icon [style.color]="iconColor" style="vertical-align: middle; margin-right: 8px;">
    {{ icon }}
  </mat-icon>
  {{ data.title }}
</h2>

<mat-dialog-content>
  <p>{{ data.message }}</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button class="close-button" (click)="data.showCancel ? onConfirm() : dialogRef.close()">
    {{ data.showCancel ? 'Confirmar' : 'Cerrar' }}
  </button>
  <button *ngIf="data.showCancel" mat-button class="close-button" (click)="onCancel()">Cancelar</button>
</mat-dialog-actions>
